* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 2em;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav > * {
    margin-right: 2em;
    font-weight: 500;
  }

  nav a:nth-child(2) {
    font-weight: 700;
    text-decoration: underline;
    font-size: large;
  }

  #logo {
    height: 5em;
    width: 5em;
  }
}
